header {
  background-image: url("./img/timp-beautiful-crop.jpg");
  background-size: cover;
  height: 500px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

body {
  font-family: sans-serif;
}

ul {
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: center;
}

ul li {
  padding-left: 20px
}

.experience img {
margin: 10px

}

.experience h4{
  margin: 10px
}

experience {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;


}


/*
/*/

/*
5. Make the image in the About me section sit to the right of the h2 and paragraph tag (you may need to update the HTML)
*/

/*
6. Make the two sections in the Experience box sit next to each other in columns.
*/
