

header {
  background-image: url("./img/timp-beautiful-crop.jpg");
  background-size: cover;
  height: 500px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

body {
  font-family: sans-serif;
  background-color: #FCF5F4;
}

ul {
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: center;
}

ul li {
  padding-left: 20px
}

.experience img {
margin: 10px

}

.experience h4{
  margin: 10px
}

experience {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;


}

p1 {
  font-size: 20px;


}


/*
/*/
