header {
  background-image: url("./img/tonks_bg.jpg");
  background-size: cover;
	height: 550px;
}

/*
1. Change the text in the header to white. Change all body font to Arial.
2. Move the header text so it is:
		vertically centered,
		on the right side of the page,
		has 100px margin.
*/

/*
3. Update the nav and the footer lists to remove the bullet points
4. Make the links in both lists line up in a row instead of a column.
*/

/*
5. Make the image in the About me section sit to the right of the h2 and paragraph tag (you may need to update the HTML)
*/

/*
6. Make the two sections in the Experience box sit next to each other in columns.
*/
